*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,#22c1c3, #fdbb2d);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 500px;
    border: 1px solid white;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}
button{
    outline: none;
    border: none;
    width: 90px;
    height: 40px;
    background-color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    margin: 5px;
}
button:hover{
    cursor: pointer;
}
button > span{
    z-index: 9999;
    position: absolute;
}
.btn1::after{
    content: "";
    width: 0px;
    height: 40px;
    background: linear-gradient(#ff9966, #ff5e62);
    z-index: 0;
    position: absolute;
    transform: skewX(-30deg);
}
.btn1:hover{
    color: white;
}
.btn1:hover::after{
    width: 120px;
    transition-property: "width";
    transition-duration: 0.6s;
}


/* btn2 */
.btn2::after{
    content: "";
    width: 90px;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(to left, #FFEFBA, #FFFFFF);
    position: absolute;
    left: -90px;
}
.btn2:hover::after{
    left: 0px;
    transition: all 0.4s linear;
}

/* btn3抖动效果 */
.btn3:hover{
    animation-name: shake;
    animation-duration: 0.5s;
}
@keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}